h2 {
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

#app-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    height: 100vh;
    background-color: #000000;
    padding: 20px;    
    margin: 0 auto;
}

button {
    background-color: #00b825;
    color: white;
    border: none;
    padding: 10px 20px;
    width: 225px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-left: 10px;
    margin-right: 10px;
}
button:hover {
    background-color: #008f1a;
    transform: scale(1.05);
}

#player-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#player-input {
    background-color: #4d4d4d;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#player-name {
    border-radius: 4px;
    font-size: large;
    margin-bottom: 10px;
    padding: 5px;
    width: 225px;
}

#quiz-container {
    background-color: #4d4d4d;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    margin-top: 20px;
    text-align: center;
    align-items: center;
    color: #ffffff;
    font-size: 1.2em;
}

#leaderboard {
    margin-top: 40px;
    background-color: #4d4d4d;
    border: 1px solid #ddd;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#leaderboard-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#leaderboard-table th,
#leaderboard-table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 16px;
}

#leaderboard-table th {
    background-color: #00b825;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border:#00b825 1px solid;
}

#leaderboard-table tr:nth-child(even) {
    background-color: #616161;
}

#leaderboard-table tr:hover {
    background-color: #919191;
}

#leaderboard-table td {
    font-size: 16px;
    color: #ffffff;
}

#center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}